In [3]:
import pandas as pd
import numpy as np

In [6]:
titanic = pd.read_csv('/content/titanic_processed_data.csv')
titanic

     Survived  Pclass  Sex   Age     Fare  Embarked  Title  Alone  has_cabin
0           0       3    0  22.0   7.2500         0      1      0          0
1           1       1    1  38.0  71.2833         1      3      0          1
2           1       3    1  26.0   7.9250         0      2      1          0
3           1       1    1  35.0  53.1000         0      3      0          1
4           0       3    0  35.0   8.0500         0      1      1          0
..        ...     ...  ...   ...      ...       ...    ...    ...        ...
884         0       2    0  27.0  13.0000         0      5      1          0
885         1       1    1  19.0  30.0000         0      2      1          1
886         0       3    1  21.0  23.4500         0      2      0          0
887         1       1    0  26.0  30.0000         1      1      1          1
888         0       3    0  32.0   7.7500         2      1      1          0

[889 rows x 9 columns]

In [43]:
from sklearn.decomposition import PCA
X = titanic.iloc[ : , 1: ]
X.shape

(889, 8)

In [44]:
 Y = titanic.iloc[:,0]
 Y.shape

(889,)

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler
from sklearn.pipeline import make_pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [50]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0, stratify=Y)

In [52]:
knn = KNeighborsClassifier()
scaler = RobustScaler()
pipe = make_pipeline(scaler, knn)

In [53]:
pipe.steps

[('robustscaler', RobustScaler()),
 ('kneighborsclassifier', KNeighborsClassifier())]

In [59]:
param_grid = {
    "kneighborsclassifier__n_neighbors": list(range(1, 31)),
    "kneighborsclassifier__metric": ["euclidean", "manhattan"]
}
model = GridSearchCV(pipe, param_grid, cv=10)

In [60]:
model.fit(x_train, y_train)
accuracy = model.score(x_test, y_test)
accuracy

0.8595505617977528

In [61]:
model.best_estimator_

Pipeline(steps=[('robustscaler', RobustScaler()),
                ('kneighborsclassifier',
                 KNeighborsClassifier(metric='manhattan', n_neighbors=8))])

In [62]:
model.best_score_

0.8017214397496089